.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10mm;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-left {
    text-align: left;
  }
  
  .card-right {
    text-align: right;
  }
  